* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body{
    background-color: #f4f4f4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;

}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: aliceblue;
}
th, td {
    border: 1px solid #b9b9b9;
    padding: 0.5rem;
    text-align: left;
}
th {
    background-color: #ccc;
}
a{
    text-decoration: none;
    color: rgb(111, 208, 243);
}
a:hover{
    text-decoration: underline;
}
form {
    display: inline;
}
input, button  {
    padding: 5px;
    margin: 5px;
    padding: 0;
}
main {
    background-color: beige;
    padding: 20px;
    border-radius: 6px;
}