<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Hola {{ nombre }} {{apellidos}}</h1>

    {% if nombre %}
        <h2>Hay nombre</h2>
    {% else %}
        <h2>Sin nombre</h2>
    {% endif %}

    <h2>numeros
        <ul>
            {% for n in numeros %}
            <li>Este es el número {{n}}</li>
            {% endfor %}
        </ul>
    </h2>


</body>
</html>