<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios | J. Quiroga</title>
</head>
<body>
    <h1>
        Formularios
    </h1>
    <form action="{url_for('index')}" method="post">
    <fieldset>
        <legend>Elige tu país</legend>
    <label for="">Paises</label>
    <select name="paises" id="">
        <option value="-">--Seleccione--</option>
        {% for p in paises %}
        <option value="{{p}}"
        {% if estado.get('pais') == p %} selected {%endif%}
        >{{p}}</option>
        {% endfor %}
    </select>
    </fieldset>
    <br>
<fieldset>
    <legend>Elige tu género</legend>
    <label for="">Géneros</label> <br>
        {% for g in generos %}
        <input type="radio" name="genero" id="" value="{{g}}"
        {% if estado.get('genero') == g %}checked {% endif %}
        >{{g}}
        {% endfor %}
    </select>
</fieldset>
    <br>

    <fieldset>
        <legend>Elige tus hobbies</legend>
        <label for="">Hobbies</label> <br>
        {% for h in hobbies %}
            <input type="checkbox" name="hobbies" id="" value="{{h}}"
            {% if h in estado.get('hobbies', []) %} checked {% endif %}
            >{{h}}
        {% endfor %}
        </fieldset>
        <button type="submit">Guardar</button>
        <br>
        </form>
        <button onclick="window.location.href"></button>

</body>
</html>