        @import url('https://fonts.cdnfonts.com/css/seven-segment');

        p {
        font-family: 'Seven Segment', sans-serif;
        font-size: 60px;
        font-weight: bold;
                                                
        }