* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #48c53a;
    margin: 0;
    padding: 0;
    background-image: url(https://imgs.search.brave.com/QNAX4Dc3ls_RMPht5wKpc7ur95G9Px6UexrUAi8YPto/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXIuZm9yZnVu/LmNvbS9mZXRjaC80/Mi80MjIxYWM2OWM3/ZTZiYzQ0OGVhZTJj/OTRjNWRiMmU0Mi5q/cGVn);
}

main {
    width: 400px;
    margin: 100px auto;
    margin-left: 600px;
    padding: 20px;
    background-color: rgb(222, 248, 26);
    border-radius: 8px;
    text-align: center;
    background-image: url(https://imgs.search.brave.com/Nhz-LIWTW9dQG_2fWoZ7kSdeKyyK_iJzuTUskVyGmAs/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/dmVjdG9yLXByZW1p/dW0vdHJhc2ZvbmRv/LWZ1dGJvbC1hYnN0/cmFjdG8tZ3Jhbi1w/ZWxvdGEtZnV0Ym9s/LW90cm9zLXNpbWJv/bG9zLWRlcG9ydGl2/b3MtY29sb3Jlcy1h/bWFyaWxsb3NfNDQ0/MzkwLTIyMDkxLmpw/Zz9zZW10PWFpc19o/eWJyaWQmdz03NDA);
    
}

h1 {
    color: #333;
}

h2, h3 {
    color: #555;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: rgb(77, 192, 192);
    color: #555;
    font-weight: bold;
}

button {
    padding: 8px 15px;
    margin: 5px;
    border: 8px;
    border-radius: 4px;
    background-color: #26ba46;
    color: rgb(210, 210, 32);
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #f5f7f5;
}