 html {
            font-size: 16px;
        }

        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(90deg, rgba(214, 37, 99, 1) 0%, rgba(231, 100, 92, 1) 100%);
        }

        header,footer {
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-color: black;
        }

        main {
            box-sizing: border-box;
            background-color: aliceblue;
            padding: 2rem;
            line-height: 1.5;
            border-radius: 1rem;
        }

        h2 {
            font-size: 1.8rem;
            line-height: 1.8;
            margin: 1.2rem;
        }
        footer{
            color:aliceblue;
            line-height: 2.5rem;
        }


        .centrado {
            width: 80%;
            margin: 0 auto;
            /* border:1px solid rgb(228, 239, 26); */

        }

        .cabecera {

            /* border:1px solid blue; */
            height: 18vh;
        }

        .izq {
            float: left;
        }

        .der {
            float: right;
        }

        .limpiar {
            clear: both;
        }

        .imagenes {
            margin-top: 0.9rem;
            width: 48%;
            /* border:3px solid green;  */
        }

        .menu {
            text-align: right;
            padding-bottom: 1rem;
        }

        .menu a {
            color: white;
            text-decoration: none;
            padding-right: 0.8rem;

        }

        .titulo {
            font-size: 2.7rem;
            margin-bottom: 1rem;
            color: aliceblue;
            font-weight: bolder;
        }

        .centrar {
            text-align: center;
        }
        .botones{
            color:white;
            background-color: black;
            text-decoration: none;
            border-radius: 0.8rem;
            padding:0.5rem;
        }
