<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tareas</title>
</head>
<body>
    <h1>Lista de tareas</h1>
    <form action="" method="POST">
        <input type="text" name="descripcion" placeholder="Nueva tarea" required>
        <button type="submit">Agregar Tarea</button>

    </form>
    <ul>
        {% for t in tareas %}
        <li>
        Tarea nº: {{t.id}} <br>
        Descripción: {{t.descripcion}} <br>
        Fecha alta: {{t.fecha_alta}} <br>
        Completada: {% if t.fecha_completada %} SI {% else %} NO {%  endif%} <br>
        <a href="{{url_for('borrar_tarea', id_tarea=t.id)}}">Eliminar</a> <br>
        <a href="{{url_for('completar_tarea', id_tarea=t.id)}}">Completar</a> <br>
        <a href="{{url_for('editar_tarea', id_tarea=t.id)}}">Editar</a> <br>
        
        
        </li>
        {% endfor %}
    </ul>
</body>
</html>