
    {%extends 'base.html'%}

    {% block title %}Editar{%endblock%}

    {%block content%}
    <h1>Edición de producto</h1>
    <form action="" method="POST">
        <label for="">Código</label>
        <input type="text" name="codigo" value="{{prod.codigo}}">
        <label for="">Nombre</label>
        <input type="text" name="nombre" value="{{prod.nombre}}">

        <label for="">Precio</label>
        <input type="number" step="0.01" name="precio" value="{{prod.precio}}">
        <label for="">Cantidad</label>
        <input type="number" name="cantidad" value="{{prod.cantidad}}">
        <label for="">Fecha caducidad</label>
        <input type="date" name="fecha_caducidad" value="{{prod.fecha_caducidad}}">     
        <button type="submit">Guardar</button>           
    </form>
    <p>
        <a href="{{url_for('index')}}">Volver</a>
    </p>
{%endblock%}