@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Fira+Mono:wght@400;500;700&family=Playwrite+DK+Loopet:wght@100..400&family=Share+Tech&display=swap');
 * {
     font-family:'Fira Mono';
     font-size: 16px;
     /* background-color: black; */
     color: white;
     margin: 0;
     padding: 0;
 }

 .cabecera {
     height: 10vh;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     background-color: rgb(80, 80, 80);
 }

 a {
     color: white;
     text-decoration: none;
 }

 .caja1 {
     margin-left: 8rem;
 }

 .caja2 {
     margin-right: 8rem;
 }

 .centro {
     text-align: center;
     height: 80vh;
     align-items: center;
     justify-content: center;
     display: flex;
     flex-direction: column;
     background-color: rgb(54, 54, 57);
 }

 h1 {
     font-size: 50px;
     padding-bottom: 1rem;

 }

 .pie {
     text-align: center;
     height: 10vh;
     padding-top: 10px;
     background-color: rgb(80, 80, 80);
 }
 .about {
     min-height: 80vh;
     padding:2rem;
     display: flex;
     flex-direction: column;
     background-color: rgb(54, 54, 57);
     align-items: center;
 }
 h2 {
    font-size: 3rem;
 }
p {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.publi {
    background-color: rgb(36, 35, 35);
    width: 60vw;
    display: flex;
    flex-direction: column;
    padding-left:6rem ;
    max-width: 60vw;
}
.ancho {
    width: 60vw;
}
.azul {
    color: rgb(63, 63, 135);
}
.lista {
    display: flex;
    flex-direction: column;

}