{% extends 'base.html' %}

{% block tittle %}
Página de Inicio
{% endblock %}

{% block seccion_h1 %}
Microbit: Software
{% endblock %}

{% block content %}
<h2>Lorem Ipsum</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsam facilis amet numquam delectus ex minus magni cum
    dolorem. Optio cupiditate minima fugit, animi explicabo quibusdam. Voluptatum, saepe blanditiis. Atque!</p>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis aliquam eum quidem veritatis praesentium dicta excepturi quisquam recusandae aspernatur tenetur? Dolores recusandae earum eius, ut consectetur soluta aliquam. Repellendus, fugit?</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, molestias facilis? Non, voluptatibus soluta voluptatem quam eaque optio vero eum ipsa, deserunt quia qui quos voluptas, voluptatum doloremque accusantium atque.</p>

<h2>Otro Lorem</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia tempora, tempore nostrum iusto sequi explicabo nobis. Impedit, itaque incidunt, voluptas hic, voluptatum sapiente obcaecati ullam quam quod ut error culpa?</p>
{% endblock %}